
  	   
        <br>
        <br>
        <br>



        	
		   <div class="row">	
		   	<div class="col-sm-8">
		   	<div id="slides_control">
			      <carousel interval="myInterval">
			        <slide ng-repeat="category in categories" active="category.active">
			          <a href="#/products" ng-click="productListByCategory(category.title)">
			          <img ng-src="{{category.image}}" style="height: 400px; width:auto;">
			          <div class="carousel-caption">
			            <h4 style="background-color:gold; width: 100px; margin-left: -150px; "> {{category.title}} </h4>
			          </div>
			          </a>
			        </slide>
			      </carousel>
			</div>
			</div>
			</div>
			


        <br>
        <br>
        <br>	 
 

     	  <input type="text" class="form-control"  placeholder="Search" style="align-self: center; width:400px;"  ng-model="searchBox">
	
		    <!--
		    <div class="row">
		      <div ng-repeat="category in categories" >
		         <div class="clearfix" ng-if="$index % 4 == 0"></div> 
		          <div class="col-sm-3"> 
		          		<a href="#" ng-click="productListByCategory(category.title)">
		                <figure>
		                  <img class="img-responsive"   src="{{ category.image  }}" style="margin-left: auto;margin-right: auto;display: block; background-color:transparent;  height:100px;  width:200px;">
		                <figcaption> <h4 class="text-center">{{category.title}}  </h4> </figcaption>  
		                </figure>
		                </a>
		          </div>  
		      </div>
		    </div>
  			-->
	    <br> 
	    <br>       	

	  		<div class="row">
	           <div ng-repeat="product in products  | filter:searchBox">
	               <div class="clearfix" ng-if="$index % 4 == 0"></div>
	               <div class="col-sm-3">
	                    <a href="#/product" ng-click="productDetail(product.id)">
			           
		                    <div class="thumbnail text-center"  >    

				                <figure>
		        	            <img class="img-responsive"   src="{{ product.image  }}" style=" background-color:transparent;  height:150px;  width:250px;">
		                        </figure>
		            		</div>  

		            		<div class="center">

		                		<p>{{product.sku}} ({{ product.pack }}{{ product.unit }})  </p> 
		                    <p> Rs.{{product.price }}/- </p>
				                
		                	</div>
                        </a> 
	               </div>
	           </div>
	        </div>

