{% extends "base.html" %}
{% load staticfiles %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
	background-color: green;
	border-color: green;
}



{% endblock %}
</style>


{% block content %}
<div>
<div class="jumbotron" >
<div class='row'>
  <div class='col-md-8 img-responsive' >

		<div style="font-style: italic;" > <h1><font >About Us</font></h1></div>
		<p>&nbsp&nbsp&nbsp&nbsp<font size="+2">Na</font>ture<font size="+2">Pu</font>re<font size="+2">Or</font>ganic is a “Social and Ecologically sustainable Aggregator and Digital platform” creating Omni channel synergy in the ecosystem that aims at offering the largest collection of everything that’s Natural,Pure and Organic to the Indian consumer.

		Napuor enables Individual Farmers, Farmer groups, Certifying Bodies, Not for Profit organizations, specifically from the organic,natural and bio products industry to reach out to the ever increasing online, aware, health conscious consumers through our dedicated digital platform for India. We are here to make a difference to not only our generations, but also to the generations to come. 
        </p>

        <P>
		&nbsp&nbsp&nbsp&nbspThe seed of Napuor was sown to ensure that Farmers and Consumers can reap true benefit of this ever expanding category of Natural,Pure and Organic products/by-products across the globe. Napuor Team consists of Technologists, Agri-Scientists and Customer Service and Operations Specialists, who are passionate about this noble cause and to offer premium value proposition at every stage of the workflow e.g. Certification, Auditing, Sourcing, First Mile delivery, Category Management, Customer Experience and Last mile delivery.
		Napuor Vision is to pioneer a “Seed to Shelf” digitally enabled platform leading to the convergence of the Natural and Organic Farming community with Business(B2B) and Consumers(B2C) seamlessly. Powered with a proprietary and state of the art  Predictive Analytics Engine , it strives to solve the challenges in logistics, product management and customer experience in Agri-Business sector. 
        </P>
 </div>
		<div class='col-md-4 img-responsive' >
		    <div class="img-responsive">
	            <iframe  class="img-responsive thumbnail" src="https://www.youtube.com/embed/q0MUkUgDYok" ></iframe>
	            <a href="http://www.brahmakumaris.org/">  <img  class="mySlides img-responsive thumbnail"  src="http://www.psychicsuniverse.com/sites/default/files/Chakra%20Diet_0.jpg"  alt="omshanti" /></a>
		        <iframe class="img-responsive thumbnail"  src="https://www.youtube.com/embed/1O9EUzfg_zQ"></iframe>
            </div> 
        </div>

 

</div>
</div>
</div>
{% endblock %}
<!--  -->
